<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmute.spkt.tranngoctrong.food_delivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDrQRAum7jvzarxnQkCMwKnrAio5YFvmY" />


        <activity android:name=".views.categories.FilterCategoriesActivity" />
        <activity android:name=".views.main_page.MainPageActivity">

        </activity>
        <activity android:name=".views.search.SearchRestaurantActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.search.SearchRestaurantResultsActivity" />
        <activity android:name=".views.search.RestaurantDetailsActivity" />


        <activity
            android:name=".views.search.ChooseProvincesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".views.categories.CategoriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".views.search.MenuDetailsActivity" />

        <activity android:name=".SignInActivity" />


    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


</manifest>